<footer>
	<div class="row">
		<div class="large-6 columns">
			<a href="/"><img src="/images/life-after-justice-house-logo-grey.png" class="footer_logo"></a>
			<ul class='inline-list'>
				<li><a href="/">Home</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/donate">Donate</a></li>
			</ul>
		</div>
		<div class="large-5 columns right">
			<p>
				Life After Justice is a U.S. 501(c)(3) non-profit.<br>
				&copy; Life After Justice
			</p>
		</div>
	</div>
</footer>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/vendor/jquery.js"></script>
	<script src="/js/foundation.min.js"></script>
	<script>
	  $(document).foundation();
	</script>
	<script src="/js/custom.js"></script>
  </body>
</html>