<!DOCTYPE html>
<head>

	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Life After Justice Foundation"/>
	<meta name="keywords" content="Life After Justice" />
	<meta name="author" content="LaunchPad Lab"/>

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Facebook Open Graph -->
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/css/theme.css">
	<link href="css/parallax-slider.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/icons.css">
	<link rel="stylesheet" href="/css/icons-color.css">
	<link rel="stylesheet" href="/css/social-icons.css">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<link href="css/ie.css" rel="stylesheet">
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--[if IE 9]>
		<link href="css/ie9.css" rel="stylesheet">
	<![endif]-->

</head>
<body>