<div class="fixed">
	<nav class="top-bar" data-topbar>
		<div class="container clearfix">
		  <ul class="title-area">
		    <li class="name">
					<a href="/"><img src="/images/life-after-justice-white-house-logo.png" class="logo"></a>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>

		  <div class="top-bar-section">
		    <ul class="right">
		    	<li>
		    		<a href="https://www.facebook.com/lifeafterjustice" target="_blank" class="social_link">
			    		<span class="fa-stack fa-lg">
			    		  <i class="fa fa-circle fa-stack-2x"></i>
			    		  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			    		</span>
		    		</a>
		    	</li>
		    	<li><a href="/contact">Contact Us</a></li>
		      <li><a href="/donate" class="button radius">Donate Today</a></li>
		    </ul>
		  </div>
		</div>
	</nav>
</div>

