// Imports
@import 'compass';
@import "compass/reset";
@import "susy";

// Grid
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

// Layout

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	@include container;
}

header {
	@include clearfix;
}

header h2 {
	float: left;
}

nav {
	float: right;
	ul {
		li {
			float: left;
			margin-left: 20px;
		}
	}
}

// Colors/Style

a {
	text-decoration: none;
}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  line-height: 27px;
  font-size: 18px;
}

h4,
h5 {
  line-height: 18px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}